﻿@model ProjectII.Models.Applicant

@{
    ViewBag.applicant = Model.FirstName + " " + Model.MiddleName + " " + Model.LastName;
    ViewBag.Title = "Delete Applicant";
    ViewBag.Active = "Applicants";
}

<h2>Delete Applicant</h2>
<h4>@ViewBag.applicant</h4>
<hr />

@Html.Partial("ApplicantDetailsPartial", Model)

@using (Html.BeginForm("Delete", "Applicants", FormMethod.Post, new { @class = "color" }))
{
    @Html.AntiForgeryToken()
    <br />
    <input type="submit" value="Delete" class="btn btn-default" />
}
