﻿@model ProjectII.Models.Applicant

@{
    ViewBag.applicant = Model.FirstName + " " + Model.MiddleName + " " + Model.LastName;
    ViewBag.Title = ViewBag.applicant;
    ViewBag.Active = "Applicants";
}

<h2>@ViewBag.applicant</h2>
<h4>Applicant</h4>
<hr />
@Html.Partial("ApplicantDetailsPartial", Model)
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ApplicantID })
</p>
