﻿@model ProjectII.ViewModels.ApplicantViewModel
@{
    ViewBag.Title = "Applicants";
    ViewBag.Active = "Applicants";
}

<div class="flex-container" style="align-items: center; justify-content: space-between;">
    <h2>@ViewBag.Title</h2>
    <form id="filters">
        @Html.TextBox("search", Model.search, new { @type = "search", @placeholder = "Search by SSN", @title = "Search by SSN" })
        @{
            var filters = new List<SelectListItem>();

            filters.Add(new SelectListItem { Text = "SSN", Value = "SSN" });
            filters.Add(new SelectListItem { Text = "Last Name", Value = "LastName" });

            @Html.DropDownListFor(vm => vm.type, filters)
        }
    </form>
</div>
<br />
<table id="applicants" class="table">
    <thead>
        <tr>
            <th>
                Applicant
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Applicants.First().ApplicationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Applicants.First().GPA)
            </th>
            <th>
                SAT Score
            </th>
            <th>
                Enrollment Date
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Applicants.First().EnrollmentDecision)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @Html.Partial("ApplicantsPartial", Model)
    </tbody>
</table>
@section Scripts {
    <script>
        $("document").ready(function () {
            $("#applicants").DataTable({
                ordering: false,
                searching: false,
                "autoWidth": false
            });
        });

        $("#type").on("input", function () {
            var text = "Search by " + ($("#type").val() == "SSN" ? $("#type option:selected").text() : $("#type option:selected").text().toLowerCase());
            $("#search").prop("placeholder", text);
            $("#search").prop("title", text);

            if ($("#search").val() != "") {
                $.get("applicants?search=" + $("#search").val() + "&type=" + $("#type option:selected").val(), function (r) {
                    $("tbody").html(r);
                });
            }
        });

        $("#search").on("input", function () {
            $.get("applicants?search=" + $("#search").val() + "&type=" + $("#type option:selected").val(), function (r) {
                $("tbody").html(r);
            });
            if ($(this).val() == "") {
                var title = "Search by " + ($("#type").val() == "SSN" ? $("#type option:selected").text() : $("#type option:selected").text().toLowerCase());
                $(this).prop("title", title);
            }
            else {
                $(this).prop("title", "Clear search");
            }
        });
        $("#filters").submit(function(e) {
            e.preventDefault();
        });
    </script>
}