﻿@model ProjectII.Models.Applicant

@{
    ViewBag.Title = "Application Rejected";
    ViewBag.Active = "Apply";
}

<h2>@ViewBag.Title</h2>
<hr />

<div>
    <h4 style="font-weight: 600;">Your application was rejected because you do not meet one or more of the following minimum requirements:</h4>
    <br />
    <ul>
        <li>Your GPA must be at least 3.0.</li>
        <li>Your total SAT Score must be at least 1000.</li>
    </ul>
    <br />
</div>