﻿@model ProjectII.Models.Applicant

@{
    ViewBag.applicant = Model.FirstName + " " + Model.MiddleName + " " + Model.LastName;
    ViewBag.Title = "Application Submitted";
    ViewBag.Active = "Apply";
}

<h2>@ViewBag.Title</h2>
<hr />

<div>
    <h4 style="font-weight: 600;">Your application was successfully submitted. Here is a copy of your application:</h4>
    <br />
    @Html.Partial("ApplicantDetailsPartial", Model)
</div>