﻿@{
    ViewBag.Title = "About Mason";
    ViewBag.Active = "About";
}
<h2 class="text-center text-uppercase">@ViewBag.Message</h2>
<br />
<p>
    George Mason University (Mason, GMU, or George Mason) is a public research university located in Fairfax County near Fairfax City in Virginia.[8] In 1956, the Commonwealth of Virginia authorized the establishment of a Northern Virginia branch of the University of Virginia[9] and the institution that is now named George Mason University opened in September 1957.[10] It became an independent institution in 1972.[1] It has since grown to become the largest four-year public university in the Commonwealth of Virginia. The university is named after the founding father George Mason, a Virginia planter and politician who authored the Virginia Declaration of Rights that later influenced the future Bill of Rights of the United States Constitution. Mason operates four campuses in Virginia (Fairfax, Arlington, Front Royal, and Prince William), as well as a fifth campus in South Korea.
</p>
<br />
<p>
    The university is classified among "R1: Doctoral Universities – Very high research activity".[11] It is particularly well known in the fields of economics and law and economics. Two Mason economics professors have won the Nobel Memorial Prize in Economics: James M. Buchanan in 1986 and Vernon L. Smith in 2002.[12]
</p>
<br /> 
<p>
    EagleBank Arena (formerly the Patriot Center), a 10,000-seat arena and concert venue operated by the university, is located on the main Fairfax campus. The university recognizes 500 student groups as well as 41 fraternities and sororities. <br />
</p>
<br />
<br />
<div class="btn-group btn-group-justified facts" role="group" aria-label="...">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">
            <span class="icons">$</span>
            <span>
                Avg cost after aid<br />
                <span>$20k</span>
            </span>
        </button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">
            <span class="fas fa-graduation-cap"></span>
            <span>
                Graduation Rate<br /><br />
                <span style="position: relative; top: -5px;">69%</span>
            </span>
        </button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">
            <span class="icons">%</span>
            <span>
                Acceptance Rate<br />
                <span>81%</span>
            </span>
        </button>
    </div>
</div>