﻿@{
    ViewBag.Title = "Contact Us";
    ViewBag.Active = "Contact";
}
<h2 class="text-uppercase">@ViewBag.Title</h2>
<br />
<div class="flex-container" style="justify-content: space-between;">
    <address>
        4400 University Drive<br />
        Fairfax, Virginia 22030<br />
        <abbr title="Phone">P:</abbr>
        <a href="tel:7039931000">(703) 993-1000</a>
        <br /><br />
        <p><strong>Admissions Office:</strong>&nbsp;<a href="mailto:admissions@gmu.edu">admissions@gmu.edu</a></p>
        <p><strong>Student Financial Aid:</strong>&nbsp;<a href="mailto:finaid@gmu.edu">finaid@gmu.edu</a></p>
    </address>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12432.462663254923!2d-77.3073606!3d38.8298118!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd766a653e6557544!2sGeorge%20Mason%20University!5e0!3m2!1sen!2sus!4v1587958861861!5m2!1sen!2sus" width="600" height="400" frameborder="0" style="border:0;" allowfullscreen="true" aria-hidden="false" tabindex="0"></iframe>
</div>
<br /><br />