﻿@{
    ViewBag.Title = "Home";
    ViewBag.Active = "Home";
}

<div class="jumbotron">
    <h1>A Campus That's a Cut Above</h1>
    <p class="lead">Mason's Fairfax location, our original campus, is the principal center for undergraduate studies, with residence halls that house more than 6,000 of our 37,000-plus students.</p> 
    <div style="text-align:center">
        @if (!Request.IsAuthenticated)
        {
            <a href="@Url.Action("Create", "Applicants")" class="btn btn-success" id="apply">Apply Now</a>
        }
    </div>
</div>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Content/images/slide5.jpg" alt="mason1">
        </div>

        <div class="item">
            <img src="~/Content/images/slide2.jpg" alt="mason2">
        </div>

        <div class="item">
            <img src="~/Content/images/slide4.jpg" alt="mason3">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<br /><br />
<div class="row color">
    <div class="col-md-4">
        <h2>Fairfax Campus</h2>
        <p>
            The campus, on 677 wooded acres within 25 minutes of downtown Washington, D.C., offers academic programs in nine colleges and schools.
        </p>
        <p><a class="btn btn-default" href="https://www2.gmu.edu/about-mason/location-fairfax-campus">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Arlington Campus</h2>
        <p>Mason's Arlington Campus, in the Virginia Square neighborhood of Arlington County near Washington, D.C., focuses on graduate and professional programs​. Working adults can advance in their current professions or chart a new career course.</p>
        <p><a class="btn btn-default" href="https://www2.gmu.edu/about-mason/location-arlington-campus">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Science and Technology Campus</h2>
        <p>Mason's Science and Technology Campus in Manassas is in Innovation Park, the largest research business park in Northern Virginia, home to technology companies and government agencies conducting cutting-edge research. It's also the site of the Hylton Performing Arts Center..</p>
        <p><a class="btn btn-default" href="https://www2.gmu.edu/about-mason/location-sci-tech-campus">Learn more &raquo;</a></p>
    </div>
</div>

@section Scripts {
    <script>
    

    </script>
}