﻿@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Raleway:300,400,500,700|Material+Icons&display=swap');

*:focus {
    outline: 0;
}

button {
    background: transparent;
    border: 0;
}

html, body {
    font-family: Raleway;
    font-size: 97%;
    height: 100%;
    padding: 0;
    margin: 0;
}

/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

body {
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1 0 auto;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.flex-container {
    display: flex;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
.ui.selection.dropdown {
    border: 1px solid #ccc !important;
}

input, select, .ui.selection.dropdown, textarea {
    max-width: 280px;
}
input[type="radio"][readonly], input[type="radio"][readonly] + label {
    pointer-events: none;
}
body ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
}

body ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 0px;
}

body ::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.25);
    -webkit-transition: color 0.2s ease;
    transition: color 0.2s ease;
}

body ::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 0.15);
}

body ::-webkit-scrollbar-thumb:hover {
    background: rgba(128, 135, 139, 0.8);
}
header {
    padding: 0 20px;
    background: forestgreen; 
    position: sticky; 
    top: 0; 
    z-index: 1000;
}
nav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: forestgreen;
    padding-top: 20px;
    text-align: center;
    font-size: 1.05em;
}
.logo {
    margin-top: -15px;
}
nav > * {
    display: block;
    padding: 15px 0;
    text-decoration: none;
    color: #FFF;
}
nav a {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    width: fit-content;
    margin: auto;
}
a:hover, a:focus {
    text-decoration: none;
}
nav > a:not(.logo):hover, nav > a:not(.logo):focus, nav a.active {
    color: #FFF;
    border-bottom: 4px solid gold;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    margin-bottom: 10px;
}
.open {
    width: 280px;
}
.open-icon {
    background: forestgreen !important;
}
#logo img {
    margin-bottom: 20px;
}
.hover {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.hover button {
    font-size: 2.4em;
}
.profile {
    position: absolute;
    bottom: 58px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: .95em;
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background-color: #FFF;
    color: #000;
    padding: 12px 0;
    width: 200px;
    margin: auto;
}
.profile:after {
    border-right: solid 4px transparent;
    border-left: solid 4px transparent;
    border-top: solid 4px #FFF;
    transform: translateX(-50%);
    position: absolute;
    z-index: -1;
    content: "";
    top: 100%;
    left: 50%;
    height: 0;
    width: 0;
}
.profile p {
    margin: 3px 0 10px 0;
}
.profile a {
    font-weight: 400;
    text-transform: initial;
}
.profile a:hover {
    color: #337ab7;
}
.hover:focus-within > .profile, .hover:hover > .profile {
    left: 0;
    right: 0;
    opacity: 1;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
input[type="search"] {
    width: 180px;
    text-indent: 5px;
    margin-right: 10px;
}
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    display: block;
    background: url(/images/reset.png) no-repeat right center;
    position: relative;
    right: 5px;
    height: 14px;
    width: 14px;
    background-size: 14px;
    cursor: pointer;
}
#filters > * {
    border: 1px solid #D3D3D3;
    min-height: 25px;
}
.jumbotron {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
#apply {
    width: 120px;
    padding: 10px 0;
    font-size: larger;
    text-align: center;
}
.item img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
main p {
    line-height: 2;
}
.facts .btn {
    transition: .7s;
}
.facts .btn:hover {
    background-color: transparent;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(139, 139, 139, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(139, 139, 139, 0.6);
}
.btn-default > span:first-of-type {
    font-weight: bold;
    font-size: 2em;
}
.btn-group span {
    font-weight: bold;
    text-align: center;
    vertical-align: top;
    margin-right: 30px;
}
.btn-group span span {
    font-weight: 500;
}
.btn-group .icons {
    color: #4CAE4C; 
}
.btn-group .fas {
    color: #FDBE14;
}
.btn-group .btn {
    height: 180px;
}
.btn-group .btn {
    font-size: 1.2em;
    border-color: #4CAE4C;
}
.actions {
    float: right;
}
.actions a {
    color: #4CAE4C;
}
.actions a:hover {
    color: forestgreen;
}
.edit {
    margin-right: 10px;
}
.btn {
    padding: 11.5px 0;
    width: 125px;
    border-color: #4CAE4C;
}
.color .btn:hover, .color .btn:focus, .color .btn:active {
    border-color: #4CAE4C !important;
    background: #4CAE4C !important;
    color: #FFF !important;
}
form .btn {
    border-radius: 0;
    font-weight: 500;
    font-size: 1.1em;
}
.asterisk {
    color: red;
    font-size: 22px;
}
.flatpickr-day.today, .flatpickr-day.today:hover, .flatpickr-day.today:focus, .flatpickr-day.selected {
    border-color: #65C265 !important;
}
.flatpickr-day.today:hover, .flatpickr-day.today:focus, .flatpickr-day.selected:hover, .flatpickr-day.selected:focus, .flatpickr-day.selected {
    background: #65C265 !important;
}
footer {
    flex-shrink: 0;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    nav {
        width: 0;
        overflow-x: hidden;
        transition: 0.5s;
    }
    main {
        padding: 20px 30px;
    }
}

@media screen and (min-width: 1000px) {
    .mobile {
        display: none !important;
    }
    nav {
        width: 280px;
    }
    main {
        padding: 20px 40px;
    }
    main, footer {
        margin-left: 270px;
    }
}