﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | George Mason</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon"> 
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.css" />
    <link rel="stylesheet" href="~/Content/dropdown.css" />
    <link rel="stylesheet" href="~/Content/transition.css" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="content">
        <nav>
            <a href="@Url.Action("Index", "Home")" class="logo">
                <img src="~/Content/images/logo.png" width="180" alt="George Mason">
            </a>
            <a href="@Url.Action("About", "Home")" class="@(ViewBag.Title.Contains("About") ? "active" : "")">About</a>
            <a href="@Url.Action("Contact", "Home")" class="@(ViewBag.Title.Contains("Contact") ? "active" : "")">Contact</a>
            @if (Request.IsAuthenticated)
            {
                <a href="@Url.Action("Index", "Applicants")" class="@(ViewBag.Active.Contains("Applicants") ? "active" : "")">Applicants</a>
            }
            else
            {
                <a href="@Url.Action("Create", "Applicants")" class="@(ViewBag.Active.Contains("Apply") ? "active" : "")">Apply Now</a>
            }
            @Html.Partial("_LoginPartial")
        </nav>
        <header>
            <a href="@Url.Action("Index", "Home")" id="logo" class="mobile logo">
                <img src="~/Content/images/logo.png" width="160" alt="George Mason">
            </a>
            <button class="navbar-toggle" id="open">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </header>
        <main>
            @RenderBody()
        </main>
    </div>
    <footer>
        <address>
            <p>4400 University Dr, Fairfax, VA 22030</p>
            <a href="tel:7039931000">(703) 993-1000</a>
        </address>
        <p>&copy; @DateTime.Now.Year George Mason</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script src="https://kit.fontawesome.com/b217619af5.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.js"></script>
    <script src="~/Scripts/year-select.js"></script>
    <script src="~/Scripts/js.js"></script>
</body>
</html>