﻿@if (Request.IsAuthenticated)
{
    <div class="hover">
        <button class="material-icons" aria-hidden="true">person</button>
        <div class="profile" tabindex="0">
            <p>
                @User.Identity.Name
            </p>
            @Html.ActionLink("Logout", "SignOut", "Account")
        </div>
    </div>
}
else
{
    @Html.ActionLink("Login", "SignIn", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
}
