﻿@model ProjectII.Models.Applicant

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.ApplicationDate)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.ApplicationDate)
    </dd>

    <dt>
        Name
    </dt>

    <dd>
        @ViewBag.applicant
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.SSN)
    </dt>

    <dd>
        @SSNFormatter.MaskSSN(Html.DisplayFor(model => model.SSN).ToString())
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.EmailAddress)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.EmailAddress)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.HomePhone)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.HomePhone)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.CellPhone)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.CellPhone)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Street)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Street)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.City)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.City)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.State)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.State)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Zipcode)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Zipcode)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.DOB)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.DOB)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Gender)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Gender)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.HS)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.HS)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.HSCity)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.HSCity)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.GraduationDate)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.GraduationDate)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.GPA)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.GPA)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.MathScore)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.MathScore)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.VerbalScore)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.VerbalScore)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Major)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Major)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.EnrollmentTerm)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.EnrollmentTerm)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.EnrollmentYear)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.EnrollmentYear)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.EnrollmentDecision)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.EnrollmentDecision)
    </dd>

</dl>