﻿@model ProjectII.ViewModels.ApplicantViewModel

    @foreach (var item in Model.Applicants)
    {
        <tr>
            <td>
                @{
                    var name = item.FirstName + " " + item.MiddleName + " " + item.LastName;
                    @Html.ActionLink(name, "Details", new { id = item.ApplicantID })
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GPA)
            </td>
            <td>
                @(Convert.ToInt16(Html.DisplayFor(modelItem => item.MathScore).ToString()) + @Convert.ToInt16(Html.DisplayFor(modelItem => item.VerbalScore).ToString()))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentTerm)
                @Html.DisplayFor(modelItem => item.EnrollmentYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDecision)
            </td>
            <td>
                <span class="actions">
                    <a href="@Url.Action("Edit", "Applicants", new { id = item.ApplicantID })" class="material-icons edit" title="Edit">edit</a>
                    <a href="@Url.Action("Delete", "Applicants", new { id = item.ApplicantID })" class="material-icons" title="Delete">delete</a>
                </span>
            </td>
        </tr>
    }